<appSettings>
  <add key="TokenExpiration" value="30" />
  <add key="UserId" value="1"/>
  
  <!--IBERIA-->
  <add key="api_key" value="m32duweq5gj58nswsvqydfbh"/> 
  <add key="IBAirShopping" value="https://api.iberia.com/iberia/ndc/AirShopping/17.2/v2"/>
  <!--IBERIA-->

  <add key="UrlSave" value="C:\Projects\RESTAPI\RESTAPI-AIRLINESERVICES\XmlDocument"/>
  <add key="SavexML" value="True"/>


</appSettings>
